{{ $main := resources.Get "js/main.js" }}
{{ $menu := resources.Get "js/menu.js" }}
{{ $plausible := resources.Get "js/plausible.js" }}
{{ $simpleAnalytics := resources.Get "js/simple-analytics.js" }}
{{ $secureJS := slice $main $menu $plausible $simpleAnalytics | resources.Concat "bundle.js" | resources.Minify | resources.Fingerprint "sha512" }}
<script async defer src="{{ $secureJS.RelPermalink }}" integrity="{{ $secureJS.Data.Integrity }}" data-skip-dnt="true" data-domain="kdrag0n.dev"></script>

{{- if .Site.GoogleAnalytics }}
    {{ template "_internal/google_analytics.html" . }}
{{- end}}

{{ range $val := $.Site.Params.customJS }}
    {{ if gt (len $val) 0 }}
        <script src="{{ $val }}"></script>
    {{ end }}
{{ end }}

<noscript><img src="https://api.protonaosp.kdrag0n.dev/noscript.gif" alt=""/></noscript>
